
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.hero {
  background: linear-gradient(to right, #ff9a9e, #fecfef);
  text-align: center;
  padding: 80px 20px;
  color: white;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.btn {
  background: white;
  color: #ff4d6d;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  margin-top: 15px;
  transition: 0.3s;
}

.btn:hover {
  background: #ffe0e9;
}


.beneficios {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
  text-align: center;
}

.box {
  max-width: 200px;
}

.box i {
  font-size: 2rem;
  color: #ff4d6d;
}


.productos {
  text-align: center;
  padding: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 200px;
  max-width: 200px;
}

.card {
  width: 150px;
}

.cards {
  display: flex;
  justify-content: center; /* centra todo */
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 200px;
  max-width: 220px;
}

.card {
  width: 200px;
  background: #fff0f5;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px) scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}


.reviews {
  background: #ffe4ec;
  padding: 40px;
  text-align: center;
}

.comentarios {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.comentario {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.stars i {
  color: gold;
}


.cta {
  text-align: center;
  padding: 40px;
}

footer {
  background: #ff4d6d;
  color: white;
  text-align: center;
  padding: 15px;
}